# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc
venv/
.venv/
env/
ENV/

# Base de données
*.db
*.sqlite
*.sqlite3

# Docker
data/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Frontend
node_modules/
dist/
.env
.env.local

# OS
.DS_Store
Thumbs.db
